{% extends "base.html" %}

{% block title %}About WEB{% endblock title %}

{% block page_content %}
<div class="page-header">
    <h2>his web was created to improve my software tester skills.
    Please leave it clean and free of comments.</h2>
    <h2>Tests can be found in my github repository</h2>
    <p>Link to Andrius_Bai github:
        <a href="https://github.com/Fumitus/flasky/tree/master/manual_testing">manual tests</a></p>
    <p>Link to Andrius_Bai github:
        <a href="https://github.com/Fumitus/flasky/tree/master/tests">automatic tests</a></p>
    <p>Sincerely,</p>
    <p>Andrius Bai</p>
</div>
{% endblock page_content %}
