{% extends "base.html" %}

{% block title %}About WEB{% endblock title %}

{% block page_content %}
<div class="page-header">
    <h2>Labas. Prisijungėte prie mūsų šeimos puslapio.
        Jeigu nesate mūsų giminės narys prašome nesiregistruoti mūsų asmeniniame puslapyje.
        Svetimų žmonių paskyros bus atmestos, o duomenys ištrinti.</h2>
    <h2>Pastaba močiutėms. Šis puslapis liks parašytas anglų kalba tam, kad po truputį mokytumėtės šios kalbos ir žinotumėte ką jums sako anūkai :)</h2>

    <p>Kilus klausimams skambinkite Andriui.</p>

    <p>Linkėjimai,</p>
    <p>Andrius Bai</p>
</div>
{% endblock page_content %}
